*{
  margin: 0;
  box-sizing: border-box;
}

.box{
  width: 100vw;
  background-color: black;
  color: beige;
 
}

h1{
  height: 100px;
  text-align: center;
  padding-top: 30px;
  color: white;
  background-image: url('bar-1.webp');
  padding-bottom: 15px;
}

.card{
  width: 80vw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(50, 50, 50);
  justify-content: center;
  text-align: left;
  margin-left: 130px;
  margin-top: 70px;
  padding: 20px;
  background-image: url('./image.webp');
  background-position: center;
}

.bar{
  width: 60vw;
  height: 30px;
  margin: 20px;
}

button{
  width: 70px;
  height: 30px;
  margin-left: 30px;
  margin-right: 3px;
}

.list{
  padding: 15px;
  font-family: sans-serif;
  font-style: oblique;
}

li{
  display: inline;
  padding: 10px;
}

.check{
  display: flex;
  align-items: right;
  justify-content: right;
  padding-right: 120px;
}