* {
  margin:0;
  box-sizing: border-box;

}
.header{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nav{
  display: flex;
  justify-content:left;
  align-items: center;
  background-color:rgb(207, 225, 238);
  height:50px;
  width:100vw;
  
}

nav a{
  padding: 30px;
  color:black;
  font-weight: bold;
}

.cartLogo a img {
  height:30px;
  width:35px;
}

img {
  display: inline;
  height: 200px;
  width: 250px;
  border-radius: 20px;
  border-style: outset;
  border-color:black;
  justify-content: flex-start;
}

.main{
  background-image:url(https://wallpapercave.com/wp/ntDJVF7.gif);
  height: 100%;
  width:100vw;
  color:black;
}
.array{
  display: block;
  width: 95vw;
  padding: 20px;
}

.grid{
  display:grid;
  padding: 10px;
  grid-template-rows:auto;
  row-gap: ;
}

.plantTypes{
  text-align: center;
}