* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: greenyellow;
  text-transform: capitalize;
}

footer {
  text-align: center;
  text-transform: capitalize;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 5px;
  text-decoration: underline;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  text-transform: capitalize;
  text-decoration: dashed;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  height: 50px;
  width: 100vw;
}

nav a {
  padding: 40px;
  color: white;
  font-weight: bold;
}

p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  padding: 10px;
  margin-bottom: 10px;
}

img {
  display: inline;
  height: 200px;
  width: 250px;
  border: solid green 5px;
  justify-content: flex-start;
}

.main {
  background-color: greenyellow;
  height: 100%;
  width: 100vw;
  color: black;
}
.array {
  display: block;
  width: 95vw;
  padding: 20px;
}

.bottom {
  display: grid;
  padding-left: 40%;
  padding-bottom: 10%;
  grid-template-rows: auto;
  row-gap: 10px;
  background-color: greenyellow;
}
