* {
  background-color:beige;
}





.header {
  display:flex;
  align-items:flex-end;
  justify-content: space-evenly;
}

button {
  color: darkolivegreen;
  padding: 20px;
  width: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}


.box {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  image-rendering: crisp-edges;
  image-resolution:inherit;
  padding: 20px;
  
}


h1 {
  display: flex;
  text-align:left;
  justify-content: left;
  font-style:inherit;
  font-weight:bolder;
  font-display:initial;
  font-size: x-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkolivegreen;
   

}