/* CSS RESET */
* {
  margin: 0;
  box-sizing: border-box;
}

.Nams {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 30px;
}

.mainContainer {
  height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  background-color: orange;
  border: solid black 5px;
  padding: 30px;
  text-align: center;
  width: 500px;
  height: 600px;
}

.card2 {
  background-color: lightgreen;
  border: dashed black 5px;
  padding: 30px;
  border-radius: 5%;
  text-align: center;
  width: 500px;
  height: 600px;
}

.card3 {
  background-color: orange;
  border: solid black 5px;
  padding: 30px;
  text-align: center;
  width: 500px;
  height: 600px;
}

button {
  background-color: aqua;
}

h3 {
  color: blue;
}

p {
  margin: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  text-transform: capitalize;
  margin-bottom: auto;
}
