#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(238, 186, 186);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header {
  width: 70vw;
  background-color: rgb(249, 203, 203);
  border: 3px solid;
  border-radius: 15px;
}