* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 10vh;
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: #ff6314;
}
#search-bar {
  height: 40px;
  width: 500px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 50px;
}
.login-button {
  background-color: #ff6314;
  border-radius: 50px;
  height: 40px;
}

.section {
  display: flex;
  margin: 10px;
  margin-top: 20px;
}
.ads {
  width: 300px;
  border-right: solid;
}
.trending {
  margin-left: 10px;
}
.card {
  padding: 10px;
  height: 400px;
  width: 700px;
  border-style: solid;
  margin: 10px;

  border-color: rgb(19, 17, 17);
}
.picture {
  width: 400px;
  height: 400px;
}
