* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}
#search-bar {
  height: 40px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 50px;
}
.picture {
  width: 400px;
  height: 400px;
}
