*{
  margin: 0;
  box-sizing: border-box;
}

.card{
  height: 200px;
  width: 300px;
  display: flex;
  padding-left: 50px;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}