* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  height: 10vh;
  width: 100vw;
  font-family: cursive;
  text-align: center;
}
.main {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu-box {
  display: flex;
}
.two-menu-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.main .menu-box {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: rgb(67, 37, 37);
  border-radius: 5%;
  padding: 10px;
  margin: 10px;
}
.picture {
  height: 420px;
  width: 300px;
  background-image: url("./images/crossiant1.jpg");
}
.button {
  background-color: rgb(67, 37, 37);
  color: white;
}
.footer {
  height: 10vh;
  width: 100vw;
  text-align: center;
}
