.outline{
  height:20rem;
  width:30rem;
  background-color: antiquewhite;
  display:flex;
  justify-content: center;
  align-items: center;
}
button{
  width:10rem;
  height:2rem;
}
.Items{
  width:80rem;
  display: flex;
  
}
ul{
  display: flex;
}
li{
  list-style: none;
  padding-left:1rem;
}