* {
  margin:0;
  box-sizing: border-box;
}

.profileImage{
  width:200px;
  height: 200px;
  border-radius: 35%;
}

.outer{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;

}

.main{
 
  background-color: rgb(221, 174, 233);
  padding:20px;
  border-radius: 5%;
  text-align: center;
  color: black;
}



