* {
  margin : 0;
  background-color: wheat;
}

.wrapper {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  
  
}
button {
  border: none;
  margin: 5px ;  
}

h3 {
  color: darkolivegreen;
  display: flex;
  align-items: end;
}